<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="author" content="{{ site.owner.name }}" />
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=jwL8w8W0yv">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=jwL8w8W0yv">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=jwL8w8W0yv">
<link rel="manifest" href="/manifest.json?v=jwL8w8W0yv">
<link rel="shortcut icon" href="/favicon.ico?v=jwL8w8W0yv">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" type="text/css" href="/assets/app.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
