<header>
  <h1 class="app-title">Calvin Tam</h1>
  <nav>
    <a href="https://github.com/{{ site.owner.github }}" class="social-media-link" target="_blank">
      <i class="fa fa-github-square fa-3x"></i>
    </a>
    <a href="https://www.instagram.com/{{ site.owner.instagram }}" class="social-media-link" target="_blank">
      <i class="fa fa-instagram fa-3x"></i>
    </a>
    <a href="https://linkedin.com/in/{{ site.owner.linkedin }}" class="social-media-link" target="_blank">
      <i class="fa fa-linkedin-square fa-3x"></i>
    </a>
    <a href="mailto:{{ site.owner.email }}" class="social-media-link" target="_blank">
      <i class="fa fa-envelope-square fa-3x"></i>
    </a>
  </nav>
</header>	
