body {
  background: url(/assets/calvin_about_me_background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

.app-title {
  font-size: 64px;
}

.social-media-link {
  color: midnightblue;
  text-decoration: none;
}
