<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="app">
      {% include header_panel.html %}
      <div class="short-intro-container">
        <div class="glass-window"></div>
        <div class="short-intro-content">
          <p><a href="https://www.linkedin.com/in/calvinyhtam" target="_blank" class="job-title">Front End Engineer at Facebook</a>.</p>
          <p>Amateur latte artist.</p>
        </div>
      </div>
	</body>
</html>
