<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="app">
      {% include header_panel.html %}
      <div class="short-intro">
        <p class="short-intro-section">
          <a href="https://www.linkedin.com/in/calvinyhtam" target="_blank" class="short-intro-link">
            Software Engineer at Chan Zuckerberg Initiative
          </a>
        </p>
        <p class="short-intro-section"><a href="https://www.instagram.com/{{ site.owner.instagram }}" class="short-intro-link" target="_blank">Latte Artist</a></p>
      </div>
	</body>
</html>
