<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="app">
      {% include header_panel.html %}
      <div class="short-intro">
        <p><a href="https://www.linkedin.com/in/calvinyhtam" target="_blank" class="job-title">Software Engineer at Facebook</a></p>
        <p><a href="https://www.instagram.com/{{ site.owner.instagram }}" class="social-media-link" target="_blank">Latte Artist</a></p>
      </div>
	</body>
</html>
