<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/assets/icon_grid/css/component.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">
      {% include header_panel.html %}

      {% include navbar.html %}

			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">Winterview</h3>
							<span class="cbp-ig-category">Programming interview question bank</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
							<h3 class="cbp-ig-title">Calvin's Blog</h3>
							<span class="cbp-ig-category">Personal website and blog</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">Bitcoinverter</h3>
							<span class="cbp-ig-category">Bitcoin conversion calculator</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
