<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/assets/icon_grid/css/component.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">
      {% include header_panel.html %}

      {% include navbar.html %}

			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">Squid voluptate</h3>
							<span class="cbp-ig-category">Fashion</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
							<h3 class="cbp-ig-title">Mixtape lo-fi</h3>
							<span class="cbp-ig-category">Design</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">Cosby sweater</h3>
							<span class="cbp-ig-category">Lifestyle</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
							<h3 class="cbp-ig-title">Commodo</h3>
							<span class="cbp-ig-category">Food</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
							<h3 class="cbp-ig-title">Bitters kitsch</h3>
							<span class="cbp-ig-category">Gadgets</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
							<h3 class="cbp-ig-title">Austin proident</h3>
							<span class="cbp-ig-category">Music</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
