<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/assets/icon_grid/css/component.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">
      {% include header_panel.html %}

      {% include navbar.html %}

			<div class="main">
				<ul class="cbp-ig-grid">
					<li>
						<a href="http://winterview.herokuapp.com" target="_blank">
              <span class="cbp-ig-icon">
                <img src="/assets/icon_grid/images/winterview_front_page_snapshot.png"> 
              </span>
							<h3 class="cbp-ig-title">Winterview</h3>
							<span class="cbp-ig-description uppercase">Technical interview question bank</span>
              <span class="cbp-ig-description">
                  Programming interview question bank with a clean, simple user interface
              </span>
						</a>
					</li>
					<li>
						<a href="http://calvintam.me" target="_blank">
              <span class="cbp-ig-icon">
                <img src="/assets/icon_grid/images/blog_screenshot.png">
              </span>
							<h3 class="cbp-ig-title">Calvin's Blog</h3>
							<span class="cbp-ig-description uppercase">Personal website and blog</span>
						</a>
					</li>
					<li>
						<a href="http://calvintam.me/bitcoinverter" target="_blank">
              <span class="cbp-ig-icon">
                <img src="/assets/icon_grid/images/bitcoinverter_screenshot.png">
              </span>
							<h3 class="cbp-ig-title">Bitcoinverter</h3>
							<span class="cbp-ig-description uppercase">Bitcoin conversion calculator</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
