<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/assets/on_scroll_effect/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/assets/on_scroll_effect/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/assets/on_scroll_effect/css/component-colour-override.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">
      {% include header_panel.html %}

      {% include navbar.html %}

			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Yo, I'm Calvin</h2>
						<p>Originally from sunny Australia.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
            <i class="fa fa-child"></i>
					</figure>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
            <h2>I'm a <br>Software Engineer</h2>
						<p>Currently working at Groupon in California, US.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
            <i class="fa fa-laptop"></i>
					</figure>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
            <h2>Check out <a href="/blog" class="blog-link">my blog!</a></h2>
						<p>I write about front-end web development.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
            <i class="fa fa-comments"></i>
					</figure>
				</section>
			</div>
		</div>
		<script src="/assets/on_scroll_effect/js/classie.js"></script>
		<script src="/assets/on_scroll_effect/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
