<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Title</title>
		<meta name="description" content="Description" />
		<meta name="author" content="Author" />
		<link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/on_scroll_effect/css/default.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/on_scroll_effect/css/component.css" />
		<script src="{{ site.baseurl }}/assets/on_scroll_effect/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span>Logo</span>
				<h1>Title</h1>
				<nav>
					<a href="#" class="bp-icon bp-icon-prev" data-info="icon"><span>icon</span></a>
				</nav>
			</header>	
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Lemon drops</h2>
						<p>Fruitcake toffee jujubes. Topping biscuit sesame snaps jelly caramels jujubes tiramisu fruitcake. Marzipan tart lemon drops chocolate sesame snaps jelly beans.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="{{ site.baseurl }}/images/1.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="{{ site.baseurl }}/images/1.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
						<h2>Plum caramels</h2>
						<p>Lollipop powder danish sugar plum caramels liquorice sweet cookie. Gummi bears caramels gummi bears candy canes cheesecake sweet roll icing dragée. Gummies jelly-o tart. Cheesecake unerdwear.com candy canes apple pie halvah chocolate tiramisu.</p>
					</article>
				</section>
			</div>
		</div>
		<script src="{{ site.baseurl }}/assets/on_scroll_effect/js/classie.js"></script>
		<script src="{{ site.baseurl }}/assets/on_scroll_effect/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
