<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/on_scroll_effect/css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/on_scroll_effect/base/css/component.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/on_scroll_effect/css/component.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
        <span>{{ site.logo_name }}</span>
        <h1>{{ page.site_section }}</h1>
				<nav>
				</nav>
			</header>	

      {% include navbar.html %}

			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Yo, I'm Calvin</h2>
						<p>Originally from sunny Australia.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="{{ site.baseurl }}/images/1.png" alt="img01">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="{{ site.baseurl }}/images/1.png" alt="img01">
					</figure>
					<article class="cbp-so-side cbp-so-side-right">
            <h2>I'm a <br>Software Engineer</h2>
						<p>Currently working at Groupon in California, US.</p>
					</article>
				</section>
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Check out my blog!</h2>
						<p>I write about technology and education on my blog.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="{{ site.baseurl }}/images/1.png" alt="img01">
					</figure>
				</section>
			</div>
		</div>
		<script src="{{ site.baseurl }}/assets/on_scroll_effect/js/classie.js"></script>
		<script src="{{ site.baseurl }}/assets/on_scroll_effect/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
