<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
		<link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/base/assets/css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/base/assets/css/component.css" />
		<script src="{{ site.baseurl }}/base/assets/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
        <span>{{ site.logo_name }}</span>
				<h1>Title</h1>
				<nav>
					<a href="#" class="icon-arrow-left" data-info="Icon">Icon</a>
				</nav>
			</header>	

      {% include navbar.html %}

			<div class="main">
			</div>
		</div>

    <div class="main-content">
      {{ content }}
    </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</body>
</html>
