<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
		<title>Title</title>
		<meta name="description" content="Description" />
		<link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/component.css" />
		<script src="{{ site.baseurl }}/assets/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<span>Logo</span>
				<h1>Title</h1>
				<nav>
					<a href="#" class="icon-arrow-left" data-info="Icon">Icon</a>
				</nav>
			</header>	
			<div class="main">
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
						<li>
							<a href="#">Projects</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

    <div class="main-content">
      {{ content }}
    </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</body>
</html>
