<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/common/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/assets/blogpost/css/component.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	</head>
	<body>
		<div class="container">

      {% include header_panel.html %}

      {% include navbar.html %}

			<div class="main">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="published-date">{{ page.date | date: "%B %-d, %Y" }}</span>
        {{ content }}
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</body>
</html>
