.cbp-hrmenu {
	border-bottom: 4px solid white;
}

.cbp-hrmenu > ul > li > a {
	color: white;
}

@media screen and (max-width: 43em) { 
  .cbp-hrmenu {
    border: none;  /* clear existing border bottom */
  }

	.cbp-hrmenu > ul > li {
		border-bottom: 4px solid white;
	}

	.cbp-hrmenu > ul > li:first-child {
		border-top: 4px solid white;
	}
}
