.main {
	color: #333;
	font-weight: 300;
	line-height: 1.5;
	text-align: justify;
}

.main p {
	font-size: 140%;
}

.published-date {
  color: #AAA;
}

@media screen and (max-width: 55em) {
  .main p {
    font-size: 100%;
    text-align: left;
  }

  h1 {
    text-align: left;
    font-size: 1.3em;
  }

  h1.post-title {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.1em;
  }
}
